<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.jcyh.eaglekinglockdemo">

    <!-- 蓝牙所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 网络所需权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
        </activity>

        <service android:name="com.ttlock.bl.sdk.service.BluetoothLeService"/>
        <service android:name="com.ttlock.bl.sdk.service.DfuService"/>

        <activity android:name=".ui.activity.AuthActivity">
        </activity>
        <activity android:name=".ui.activity.OperateActivity">
        </activity>
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ChooseLockActivity">
        </activity>
        <activity android:name=".ui.activity.AddLockActivity">
        </activity>
        <activity android:name=".ui.activity.SendKeyActivity">
        </activity>
        <activity android:name=".ui.activity.SendPwdActivity">
        </activity>
        <activity android:name=".ui.activity.KeyManagerActivity">
        </activity>
        <activity android:name=".ui.activity.KeyInfoActivity">
        </activity>
    </application>

</manifest>